#wrapper{width:90%;
    margin-left:auto;
    margin-right:auto;
}

nav a{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    word-spacing:4em;
    font-size: 24px;
    color: #e60000;
    display: inline-block; padding:1em;
    }

nav a:hover{
background-color: #F5F5F5;
color: #e60000;
}

nav .current{
    background-color: #DCDCDC;
}

body{
    text-align: left;
    font-family: sans-serif;
    font-size: 20px
}

h1{
    font-family: Arial;
    text-align:center; 
    color: #e60000;
}

footer{
    line-height: 1px;
    text-align: left;
    font-size: 10px; 
}
