body{
    background-color: #fda8a8;
    padding: 8px; 
    font-family: Arial;
}

h1{
    font-family: sans-serif;
    text-align:center; 
}

h3{
    font-style: oblique;
}

footer{
    line-height: 1px;
}